{% extends "cms/layout.html.twig" %}
{% from 'cms/menus/macro/macro.menus.html.twig' import recursiveMenu %}

{% block include_additional_libs %}
  {{jsconst("DATATABLE_FR_PATH",asset("libs/datatables/datatable_fr.json"))}}
  {{style("libs/datatables/datatables.min.css")}}
  {{script("libs/datatables/datatables.min.js")}}
  {{script("libs/datatables/RowReorder-1.2.8/js/rowReorder.bootstrap5.min.js")}}
  {{style("libs/datatables/RowReorder-1.2.8/css/rowReorder.bootstrap5.min.css")}}
  {{script("helpers/js/SidunisDataTable.js")}}
  {{script("helpers/js/Form.js")}}
  {{script("helpers/js/BtnDelete.js")}}
  {{script("js/menu_list.js")}}

{% endblock %}

{% block body %}

<section class="row" id="menu">
  {# Liste #}
  <div class="col-12 col-xxl-9 order-xxl-0">
    <div class="default-block datatables-large" id="block_menus">
      <header>
        <h2>Menus</h2>
      </header>
      <main>
        <div class="d-flex justify-content-between align-items-center flex-wrap mb-5">
          <button type="button" class="btn btn-secondary mt-2 mb-2 btn-addedit-menu" id="btn_add_menu">
            + Créer un nouveau menu
          </button>
        </div>
        {# Table menu #}
        <table id="table_menu" class="table table-striped dataTable">
          <thead>
            <tr>
              <th>ORDRE</th>
              <th>ID</th>
              <th>PUBLIÉ</th>
              <th>LIBELLE</th>
              <th>TITLE</th>
              <th>ACTIVE</th>
              <th></th>
            </tr>
          </thead>
        </table>

        {# Templates #}
        <script type="text/html" id="menu_template_statut">
          {# Classes de statut : success (valide) / ongoing (en cours de création) / pending (en attente de validation) / error (expiré) #}
          <span class="bubble mx-auto ${CLASS}" data-toggle="tooltip" data-placement="top" title="${STATUT}"></span>
        </script>
        
        <script type="text/html" id="menu_template_actions">
          <div class="d-flex justify-content-end">${CONTENT}</div>
        </script>

        <script type="text/html" id="menu_template_action_editer">
          <button class="action-btn btn-addedit-menu btn btn-dark" data-id="${ID}" data-toggle="tooltip" title="${TOOLTIP}"> 
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </script>
        
        <script type="text/html" id="menu_template_action_suppr">
          <button type="button" class="action-btn btn-delete-menu btn btn-light" data-id="${ID}" data-toggle="tooltip" title="${TOOLTIP}">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </script>



        {# Clear pour tableau #}
        <div class="clearfix"></div>

        {# Pagination #}
        {# <div id="menu_pagination">
          {% include 'cms/shared/pagination.html.twig' %}
        </div> #}


      </main>
    </div>
  </div>

  {# {{dump(MENUITEMS)}} #}
  <div class="container">

    <header>
      <h2>Affichage du menus</h2>
    </header>
    {{recursiveMenu(MENUITEMS)}}
  </div>

  {% include "cms/menus/modal/add_menu.html.twig" %}

</section>
{% endblock %}