{# layout.html.twig #}
<!DOCTYPE html>
<html lang="{{ Translator.locale }}">
  {% block head %}
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="robots" content="noindex, nofollow" />
      <meta charset="UTF-8" />
      {% block title %}
        <title>{{ SITE_TITLE }}</title>
      {% endblock %}
      <script>
        console.clear()
      </script>
      {{ jsconst('SITE_TITLE', SITE_TITLE) }}
      {{ jsconst('ROOT_URL', ROOT_URL) }}
      {{ jsconst('SITE_URL', SITE_URL) }}
      {{ jsconst('ROUTES', Route.routes) }}
      {{ jsconst('LOCALE', Translator.locale) }}
      {{ jsconst('TRANSLATIONS', Translator.translations) }}
      {{ jsconst('DEBUG', SITE.CONFIG.DEBUG) }}
      {{ jsconst('AUTODEBUG', SITE.CONFIG.AUTODEBUG) }}
      {{ script('cores/common/js/functions.js') }}
      {{ script('cores/common/js/class/Route.js') }}
      {{ script('vendor/components/jquery/jquery.min.js') }}
      {{ script('libs/jquery-ui-1.13.2.custom/jquery-ui.min.js') }}
      {{ script('cores/common/js/ajax.js') }}
      {{ style('libs/font-awesome/css/all.min.css') }}
      {{ style('libs/font-awesome/css/sharp-solid.min.css') }}
      {{ style('libs/font-awesome/css/sharp-regular.min.css') }}
      {{ style('libs/font-awesome/css/sharp-light.min.css') }}
      {{ script('vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js') }}
      {{ style('vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}
      {{ style('css/dist/style.css') }}
      {{ style('libs/jquery-ui-1.13.2.custom/jquery-ui.min.css') }}
      {{ script('libs/sweetalert2/sweetalert2.all.min.js') }}
      {{ script('libs/bootstrap-select/bootstrap-select.min.js') }}
      {{ script('libs/bootstrap-select/i18n/defaults-fr_FR.min.js') }}
      {{ style('css/jstree.css') }}
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
      {{ icon('favicon.ico') }}
      {% block include_libs %}

      {% endblock %}
      {% block include_additional_libs %}

      {% endblock %}
    </head>
  {% endblock %}

  <body id="p_body">
    {% block nav %}
      {% include 'navbar/navbar_menu.html.twig' %}
    {% endblock %}

    {% block body %}

    {% endblock %}
    <div class="row">
      {% block debug %}
        {% include 'view_debug.html.twig' %}
      {% endblock %}
    </div>
  </body>
</html>
