<div id="add_menu" class="modal fade" tabindex="-1" aria-labelledby="add_menu_label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_menu_label">Ajouter un nouvel élement de menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
      </div>
      <div class="modal-body">
        {% set formMenu = formBuilder("menu") %}
        {{formMenu.begin()}}
          {{formMenu.input("id",{
            type:"input",
            attributes:{
              type:"hidden",
              "data-col":"id"
            }
          })}}
          {{formMenu.group("libelle",{
            label:"Libellé",
            type:"input",
            attributes:{
              "data-col":"libelle"
            }
          })}}
          {{formMenu.group("parent",{
            label:"Parent",
            type:"select",
            emptyChoice:"Aucun parent sélectionné",
            attributes:{
              "data-col":"id_parent"
            }
          })}}
          {{formMenu.group("extend_class",{
            label:"Extend Class",
            type:"input",
            attributes:{
              "data-col":"extend_class"
            }
          })}}
          {{formMenu.group("type_link",{
            label:"Type de lien",
            type:"checkboxes",
            multiple:false,
            inline:true,
            emptyChoice:"Aucun",
            choices : [
              {
                label:"ID",
                value:"ID"
              },
              {
                label:"Link",
                value:"LINK"
              },
              {
                label:"Alias",
                value:"ALIAS"
              }
            ],
            attributes:{
            }
          })}}
          {{formMenu.group("link",{
            label:"Lien",
            type:"input",
            attributes:{
              "data-col":"link"
            }
          })}}
          {# {{formMenu.group("alias",{
            label:"Alias",
            type:"input",
            attributes:{
              "data-col":"alias"
            }
          })}} #}
          {{formMenu.group("title",{
            label:"Titre",
            type:"input",
            attributes:{
              "data-col":"title",
            },
          })}}
          {{formMenu.group("active",{
            label:"Actif",
            inline:true,
            type:"checkboxes",
            attributes:{
              "data-col":"active",
              "data-default-value":"Y"
            },
            choices : [
              {
                label:"Oui",
                value:"Y"
              },
              {
                label:"Non",
                value:"N"
              }
            ],
          })}}
          {{formMenu.group("public",{
            label:"Public",
            inline:true,
            type:"checkboxes",
            attributes:{
              "data-col":"public",
              "data-default-value":"Y"
            },
            choices : [
              {
                label:"Oui",
                value:"Y"
              },
              {
                label:"Non",
                value:"N"
              }
            ],
          })}}
          {{formMenu.group("description",{
            label:"Description",
            type:"textarea",
            attributes:{
              "data-col":"description",
              rows:"4",
              cols:"50"
            }
           
          })}}
          {{formMenu.group("order",{
            label:"Ordre",
            type:"input",
            attributes:{
              "type":"number",
              "data-col":"ordre"
            }
          })}}
          {# ROLES #}
          <div class="container">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ROLES</th>
                  <th scope="col">CRUD</th>
                </tr>
              </thead>
              <tbody>
                {% for R in ROLES %}
                  {% set inpName = "menu[crud][" ~ R.code ~ "][]" %}
                  <tr>
                    <td id="{{R.code}}">{{R.code}}</td>
                    <td>
                      <div class="row">
                        {% for LETTRE,ACTION in {
                          c : "Création",
                          r : "Lecture",
                          u : "Modification",
                          d : "Suppression"
                        } %}
                          {% set inpId = "check_page_crud_" ~ R.code ~ "_" ~ LETTRE %}
                          <div class="form-check">
                            <input class="form-check-input crud_role" type="checkbox" name="{{inpName}}" value="{{LETTRE}}" data-role="{{R.code}}" id="{{inpId}}" {{R[LETTRE] == 'Y' ? "checked" : "" }}>
                            <label class="form-check-label" for="{{inpId}}">
                              {{ACTION}}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {{formMenu.end()}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn_save_menu"><i class="fas fa-save"></i> Enregistrer</button>
      </div>
    </div>
  </div>
</div>