<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <meta charset="UTF-8" />
    {{ jsconst('SITE_TITLE', SITE_TITLE ?? 'ROUTES') }}
    {{ jsconst('ROOT_URL', ROOT_URL) }}
    {{ jsconst('SITE_URL', SITE_URL) }}
    {{ jsconst('ROUTES', Route.routes) }}
    {{ jsconst('LOCALE', Translator.locale) }}
    {{ jsconst('TRANSLATIONS', Translator.translations) }}
    {{ jsconst('DEBUG', SITE.CONFIG.DEBUG) }}
    {{ jsconst('AUTODEBUG', SITE.CONFIG.AUTODEBUG) }}
    {{ script('cores/common/js/functions.js') }}
    {{ script('cores/common/js/class/Route.js') }}
    {{ script('vendor/components/jquery/jquery.min.js') }}
    {{ script('libs/jquery-ui-1.13.2.custom/jquery-ui.min.js') }}
    {{ script('cores/common/js/ajax.js') }}
    {{ script('vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js') }}
    {{ style('vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}
    {{ script('libs/sweetalert2/sweetalert2.all.min.js') }}
    {{ script('libs/datatables/datatables.min.js') }}
    {{ style('libs/font-awesome/css/all.min.css') }}
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    {{ icon('favicon.ico') }}
    {{ script('js/admin/routes.js') }}
  </head>
  <body id="p_body">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <button id="btn_add_route" type="button" class="btn btn-primary">
              <!-- data-bs-toggle="modal" data-bs-target="#mdl_addedit_route"> -->
              <i class="fass fa-plus" style="color:white"></i>
              Ajouter une route
            </button>
          </div>
        </div>
        <div class="row" style="margin-right: 9%">
          <div id="tbl_routes" class="table table-responsive-md">
            <div class="table">
              <table class="table table-hover table-condensed table-bordered" id="table_routes">
                <thead class="thead-dark">
                  <tr>
                    <th>URL</th>
                    <th>Alias</th>
                    <th>Module</th>
                    <th>Controller</th>
                    <th>Fonction</th>
                    <th>Template</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="tbody_tbl_routes">
                  {% for route in routes %}
                    <tr id="tr_{{ route.alias }}">
                      <td>{{ route.url }}</td>
                      <td>{{ route.alias }}</td>
                      <td>{{ route.m }}</td>
                      <td>{{ route.c|replace({ Controller: '' }) }}</td>
                      <td>{{ route.f }}</td>
                      <td>{{ route.t }}</td>
                      <th>
                        <i class="fass fa-edit edit_route" data-alias="{{ route.alias }}"></i>
                        <i class="fasr fa-trash-alt delete_route" data-url="{{ route.url }}"></i>
                      </th>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MODALE -->
    <div class="modal fade" id="mdl_addedit_route" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mdl_title_addedit_route">Ajouter une route</h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label class="col-form-label">Alias :</label>
                <input type="text" class="form-control" id="inp_alias" />
              </div>
              <div class="form-group">
                <label class="col-form-label">URL :</label>
                <input type="text" class="form-control" id="inp_url" />
                <input type="text" class="form-control" id="inp_old_url" />
              </div>
              <div class="form-group">
                <label class="col-form-label">Module (App) :</label>
                <select id="modules" class="form-control">
                  <option value="">--</option>
                  {% for M in modules %}
                    <option value="{{ M|escape('html') }}">{{ M|escape('html') }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label class="col-form-label">Controller :</label>
                <select id="controllers" class="form-control">
                  <option value="">--</option>
                </select>
              </div>
              <div class="form-group">
                <label class="col-form-label">Fonction :</label>
                <select id="fonctions" class="form-control">
                  <option value="">--</option>
                </select>
              </div>
              <div class="form-group">
                <label class="col-form-label">Template :</label>
                <select id="inp_template" class="form-control">
                  <option value="">--</option>
                  {% for T in templates %}
                    <option value="{{ T|escape('html') }}">{{ T|escape('html') }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label class="col-form-label">Fallback :</label>
                <input type="text" class="form-control" id="inp_fallback" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn_save_route">Confirmer</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- comment -->
</html>
